.tracker {
  margin-bottom: 20px;
}
.tracker ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.tracker ul li {
  flex: 1;
  text-align: center;
  font-weight: bold;
}
.tracker ul li.current {
  color: rgb(203, 78, 194);
}
.container {
  max-width: 800px; 
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: row; 
}
.buttons {
  margin-bottom: 20px;
}
.buttons button {
  margin-right: 10px;
}
form {
  margin-bottom: 20px;
}
label {
  display: block;
  margin-bottom: 5px;
}
input[type="text"],
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
    background-color: #ff6b81; /* Pink button color */
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px; /* Rounded corners */
}

button[type="submit"]{
    width: auto;
    padding: 10px 18px;
    background-color: #3c623c; /* Green button color */
    color: white;
    border: none;
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
    float: right;
}

button:disabled {
    background-color: #ab505e; /* Pink button color *//* Grey button color when disabled */
    cursor: not-allowed;
}


.left-panel {
  width: auto;
  height: 400px;
  margin-right: 20px; /* Adjust margin as needed */
}


.right-panel {
  flex: 3;
}

.left-panel p {
  margin-top: 10px;
}
